/* shared styles */

:root {
  --text-color-1: #0b0223;
  --text-color-2: #3c354f;
  --text-color-3: #534c64;
  --text-color-5: #ffffff;
}

/* navbar styles */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 30px 0px #0000000d;
}

.nav-title {
  display: flex;
}

.nav-title img {
  height: 40px;
  margin-right: 20px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 1.5rem;
  color: var(--text-color-2);
  font-size: 18px;
  font-family: "Work Sans";
  font-weight: 500;
}

nav h3 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 2.8rem;
  text-align: center;
  color: var(--text-color-1);
}

.pink-text {
  color: #ff42a5;
}
