/* shared styles */

:root {
  --text-color-1: #0b0223;
  --text-color-2: #3c354f;
  --text-color-3: #534c64;
  --text-color-5: #ffffff;
}

/* navbar styles */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 30px 0px #0000000d;
}

.nav-title {
  display: flex;
}

.nav-title img {
  height: 40px;
  margin-right: 20px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 1.5rem;
  color: var(--text-color-2);
  font-size: 18px;
  font-family: "Work Sans";
  font-weight: 500;
}

nav h3 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 2.8rem;
  text-align: center;
  color: var(--text-color-1);
}

.pink-text {
  color: #ff42a5;
}

/* banner styles */

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  background-image: url(images/Group\ 14.png);
  background-position: left center;
  background-repeat: no-repeat;
  width: 94rem;
}

.hero-content h3 {
  text-align: center;
  font-family: "Work Sans";
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-color-1);
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-content h2 {
  text-align: center;
  font-family: "Work Sans";
  font-size: 6rem;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content p {
  font-family: "Work Sans";
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color-3);
  margin-bottom: 20px;
}

.hero-content img {
  margin-right: 10px;
}

.hero-button-1 {
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 1.3125rem 2.5rem;
  border-color: transparent;
  color: var(--text-color-5);
  font-family: "Work Sans";
  font-size: 1.25rem;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}

.hero-button-2 {
  border-radius: 3rem;
  background: #4ec5f7;
  padding: 1.3125rem 2.5rem;
  border-color: transparent;
  color: var(--text-color-5);
  font-family: "Work Sans";
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.hero-img {
    max-width: 50%;
}
